<div class="container">
  <h1>Restaurant Details</h1>
  <p><strong>Name:</strong> <%= @restaurant.name %></p>
  <p><strong>Address:</strong> <%= @restaurant.address %></p>
  <p><strong>Phone Number:</strong> <%= @restaurant.phone_number %></p>
  <p><strong>Category:</strong> <%= @restaurant.category %></p>

  <h4>Reviews</h4>

  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item"><%= review.content %></li>
    <% end %>
  </ul>
  <h1>New Review</h1>
  <%= render 'reviews/form', review: @review, restaurant: @restaurant %>

</div>
